@font-face {
    font-family: 'Virgil';
    src: url("Virgil.woff2") format("woff2"); /*URL to font*/
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* background-color: #22272E; */
    background-color: #22272E;
    color: #98B6B0;
}

.main-card-wrapper{
    font-family: 'Open Sans', sans-serif;    
    width: 40vw;
    height: 40vh;
    margin: auto;
    background-color: #1C2128;
    padding: 16px 24px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.01);
  
}

.main-card-wrapper::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.93) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
      to left,
      #ff5770,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d,
      #ff5770
    );
    background-size: 200% 200%;
    animation: animateGlow 10s linear infinite;
  }

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.main-word{
    text-align: center;
    font-size: 40pt;
}

.main-word::selection , .trans-word::selection{
    transition: 0.5s;
    /* background: #5991eb; */
    text-decoration: underline 3px;
}

.trans-word{
    margin-top: 10%;
    font-size: 20pt;
    text-align: center;
    min-height: 0; /* new */
    text-overflow: ellipsis;
}

.main-card-inside-wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.main-card{
    width: 100%;
    height: 100%;
    display: flex;
}

.counter , .date{
    margin-top: 2%;
    font-family: 'JetBrains Mono', monospace;
    font-size: 15pt;
    text-align: center;
}

input{
    margin-top: 2%;
    color: #98B6B0;
    font-family: 'JetBrains Mono', monospace;
    font-size: 15pt;
    text-align: center;
    background: transparent;
    border: none;
    width: 3em;
    text-align: right;
    caret-shape: underscore;
}

input:focus{
    outline: none;
    border: none;
    caret-shape: underscore;
}